//demo
.page-container {
  position: relative;
  width: 60vw;
  max-width: 60vh;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

body .cube-side .side-content {
  color: #fff;
  font-size: 50px;
}

body .side-content a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

body {
  background-image: url(https://pbs.twimg.com/media/EvfsXMxXIAQLAEX?format=jpg&name=medium);
  // background-attachment: fixed;
  background-size: 33.333%;
  background-origin: center;
  font-family: sans-serif;
}

body .cube-gallery {
  // mix-blend-mode: difference;
}

h1 {
  word-wrap: break-word;
  // mix-blend-mode: difference;
  // color: #fff;
  margin-top: 30vh;
  padding-bottom: 30vh;
  width: 100%;
  text-align: center;
  font-size: 150px;
  text-transform: uppercase;
}
