.cube-gallery {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.cube-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.cube-side {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // backface-visibility: hidden;
  opacity: 0.8;

  .side-bg {

  }

  .side-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//demo 
.page-container {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cube-side .side-content {
  color: #fff;
  font-size: 50px;
}

.side-content a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}